*.gcov
build
nbproject/private
dist
Debug
cmake-build-debug
workspace.xml
.idea
japan2007ef_classic.c
japan2007ef_classic.maz
japan2007ef_classic.txt
japan2014ef_half.c
japan2014ef_half.maz
japan2014ef_half.txt
